<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="E:/ITI/Automation Framework/SalamDevTask"><classes><class name="org.salamdev.tests.E2eTest"><methods><include name="e2eTest"/></methods></class><class name="org.salamdev.tests.LoginTest"><methods><include name="testValidLogin"/></methods></class></classes></test></suite>